<footer class="main-footer mt-5 pt-3 text-light">
    <div class="container">
        <div class="row">
            <div class="col">
                <h4>Projeto Django</h4>
                <address>
                    <a href="https://github.com/LeonardoASCouto/Django_Dev-Pro" target="_blank" class="text-light">
                        GitHub Django Project</a>
                </address>
            </div>
        </div>
    </div>
    <div class="rights pb-4">
        <div class="container">
            <div class="row">
                <div class="col">
                    {% now 'Y' %} {{ nome }}. Todos os direitos reservados.
                </div>
            </div>
        </div>
    </div>
</footer>