{% extends 'base/base.html' %}
{% load static %}

{% block title %}Python Pro - Home{% endblock %}
{% block body %}
<div class="container">
    <div class="row">
        <div class="col-md-12">

            <div class="jumbotron">
                <h2>
                    Curso de Python
                </h2>
                <p>
                    <a href="https://pt.wikipedia.org/wiki/Lorem_ipsum" target="_blank"> Lorem ipsum</a>
                    lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum.
                </p>

                <h4>Teste Aberto! Custo R$ 5,00</h4>
                <div class="container mb-3">
                    <!-- INICIO DO BOTAO PAGSEGURO -->
                    <a href="https://pag.ae/7YKZto4Ba/button" target="_blank"
                       title="Pagar com PagSeguro"><img
                            src="//assets.pagseguro.com.br/ps-integration-assets/botoes/pagamentos/205x30-pagar-preto.gif"
                            alt="Pague com PagSeguro - é rápido, grátis e seguro!"/></a>
                    <!-- FIM DO BOTAO PAGSEGURO -->
                </div>

                <!--                <h3>Entre na Fila de Espera</h3>-->

                <!--                <form action="https://herokuapp.us14.list-manage.com/subscribe/post?u=4785c9b42a884f3fd00380823&amp;id=5ce28041e4&amp;f_id=00988ce0f0"-->
                <!--                      method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form"-->
                <!--                      class="form-row align-items-center"-->
                <!--                      target="_self">-->

                <!--                    <div class="form-row align-items-center">-->
                <!--                        <div class="col-auto">-->
                <!--                            <label class="sr-only" for="mce-EMAIL">Email</label>-->
                <!--                            <input type="email" value="" name="EMAIL" class="form-control required" id="mce-EMAIL"-->
                <!--                                   required placeholder="exemplo@email.com">-->
                <!--                        </div>-->

                <!--                        <div class="col-auto">-->
                <!--                            <label class="sr-only" for="mce-FNAME">Nome</label>-->
                <!--                            <input type="text" value="" name="FNAME" class="form-control required" id="mce-FNAME">-->
                <!--                        </div>-->

                <!--                        &lt;!&ndash; real people should not fill this in and expect good things - do not remove this or risk form bot signups&ndash;&gt;-->
                <!--                        <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text"-->
                <!--                                                                                                  name="b_4785c9b42a884f3fd00380823_5ce28041e4"-->
                <!--                                                                                                  tabindex="-1"-->
                <!--                                                                                                  value=""></div>-->

                <!--                        <div class="clear foot">-->
                <!--                            <input type="submit" value="Salvar" name="subscribe" id="mc-embedded-subscribe"-->
                <!--                                   class="btn btn-primary">-->
                <!--                            <p class="brandingLogo"><a href="http://eepurl.com/ibjYAL"-->
                <!--                                                       title="Mailchimp - email marketing made easy and fun"><img-->
                <!--                                    src="https://eep.io/mc-cdn-images/template_images/branding_logo_text_dark_dtp.svg"></a>-->
                <!--                            </p>-->
                <!--                        </div>-->
                <!--                    </div>-->
                <!--                </form>-->

            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <h5 class="card-header">
                    Lambda
                </h5>
                <div class="card-body">
                    <p class="card-text">
                        <img src="{% static 'img/lambda.png' %}"
                             alt="imagem da undécima letra do alfabeto grego, lambda"
                             class="img-thumbnail float-left mr-3"/>
                        Lambda é a undécima letra do alfabeto grego (Λ, λ).
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock body%}